@using MemoryLib.Models.Review
@inherits Reviews<AnimeModel>

<div class="anime scroll">
    <OneLineAdder Header=@($"<a href='{AniDbHelper.BASE_PATH}' target='_blank'>{Header}</a>")
                  Model="ItemAdderViewModel"
                  Placeholder="Введите ссылку AniDb"
                  Create="AddItemIfNotExistAsync" />

    <div class="scroll__panel">
        <Sorting Model="SortingModel" Data="TempItems" UpdateData="UpdateTempItems" SortingParameters="SortingParameters" />
        <div class="scroll__panel__yLine"></div>
        <Filter Model="FilterModel" Data="TempItems" UpdateData="UpdateTempItems" FilterParameters="FilterParameters" />
        <footer>
            <div class="scroll__panel__xLine"></div>
            <button @onclick="Reset">Сбросить</button>
        </footer>
    </div>

    <Pagination Model="PaginationModel" UpdateState="StateHasChanged" />

    <div class="scroll__container">
        @if (TempItems != null && PaginationModel != null)
    {
        var itemsSkipCounter = 1;
        var itemNumber = PaginationModel.PageFirstElementNumber;

        foreach (var item in TempItems)
        {
            //пропускает элементы до нужного элемента
            if (PaginationModel.PageFirstElementNumber > itemsSkipCounter)
            {
                itemsSkipCounter++;
                continue;
            }
            if (itemNumber > PaginationModel.PageLastElementNumber)
                break;

            <div class="scroll__container__box">
                    <figure>
                        <figcaption><h3><a href="@item.Link" target="_blank">@item.Name</a></h3></figcaption>
                        <img src="@(AniDbHelper.IMAGE_REQUEST_PATTERN + item.ImageSource)" alt="Изображение" onerror="this.style='height:250px;'">
                    </figure>

                    <dl>
                        <dt>Год выхода</dt>
                        <dd>@item.StartingDate.ToShortDateString()</dd>
                        <dt>Количество серий</dt>
                        <dd>@item.Episodecount</dd>
                        <dt>AniDb рейтинг</dt>
                        <dd>@item.AniDbRating</dd>
                        <dt>AniDb голосов</dt>
                        <dd>@item.AniDbVotes</dd>
                        <dt>Мой рейтинг</dt>
                        <dd>@item.MyRating</dd>
                        <dt>Комментарий</dt>
                        <input type="checkbox" id="showComment@(itemNumber)" />
                        <label label for="showComment@(itemNumber)">п/с</label>
                        <dd>@item.Comment</dd>
                        <dt>Описание</dt>
                        <input type="checkbox" id="showDescription@(itemNumber)" />
                        <label label for="showDescription@(itemNumber)">п/с</label>
                        <dd>@item.Information</dd>
                    </dl>

                    <ContextMenu Item="item"
                                 ItemId="item.Id"
                                 ItemNumber="itemNumber"
                                 ShowItemEditor="ShowItemEditor"
                                 DeleteItem="DeleteItemAsync" />
                </div>

            itemNumber++;
        }
    }
    </div>

    <Pagination Model="PaginationModel" UpdateState="StateHasChanged" />

    <SemiTransparentWrapper @bind-isShowWrapper="@IsShowItemEditorWrapper">
        <EditForm class="scroll__itemEditor" Model="ItemEditorModel" OnValidSubmit="UpdateItemAsync">
            <h4>Редактировать</h4>
            <p>
                <label for="scroll__itemEditor__folder">Папка: </label>
                <select id="scroll__itemEditor__folder" @bind="ItemEditorModel.FolderName" @bind:event="onchange">
                    <option value="@FolderNames.AnimeWatched">@(FolderNames.AnimeWatched.GetAttribute<DisplayAttribute>().Name)</option>
                    <option value="@FolderNames.AnimeWillWatch">@(FolderNames.AnimeWillWatch.GetAttribute<DisplayAttribute>().Name)</option>
                </select>
            </p>
            <p>
                <label for="scroll__itemEditor__rating">Мой рейтинг: </label>
                <input type="number" id="scroll__itemEditor__rating" @bind-value="ItemEditorModel.MyRating">
            </p>
            <p>
                <label for="scroll__itemEditor__comment">Комментарий: </label>
                <textarea type="text" id="scroll__itemEditor__comment" @bind="ItemEditorModel.Comment"></textarea>
            </p>
            <p>
                <input type="submit" value="Сохранить">
                <input type="reset" value="Отмена" @onclick:preventDefault @onclick="() => IsShowItemEditorWrapper = false">
            </p>
        </EditForm>
    </SemiTransparentWrapper>
</div>